@charset "UTF-8";
/* CSS Document */

body{
    background: #000;
    margin: 0;
    background:#8c7ae6 ;
    padding-top: 60px;
}
*{
    box-sizing: border-box;
}
form{
    width: 500px;
    height: 500px;
    border: 3px solid #000;
    margin: 0 auto;
    padding: 20px;
}
label{
    font-size: 25px;
    font-family: sans-serif;
}
input[type="checkbox"]{
    height: 20px;
    width: 20px;
}
input[type="text"] {
    margin-top: 20px;
    height: 40px;
    border: 0;
    width: 200px;
    border-radius: 10px;
    padding-left: 5px;
}
input[type="text"]:focus{
    outline: none;
}
.container{
    margin-top: 20px;
}
.submit{
    margin-top: 20px;
    width: 160px;
    height: 45px;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    background: #273c75;
    cursor: pointer;
}
.submit:focus{
    outline: none;
}
#output{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    color: #75715E;
}